.global-Filter-tab {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width : 100%;
}

.global-Filter-tab h2 {
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}

.global-Filter-tab p {
  margin-right: 10px;
  padding-right: 10px;
  border-right: solid #e30613 1px;
  cursor: pointer;
}
.global-Filter-tab a:last-child p {
  border-right: none;
}

.reset-filter-programme {
  font-size: 30px;
}

@media screen and (max-width: 960px) {
  .global-Filter-tab h2{
    font-size: 14px;
  }
  .global-Filter-tab p {
    font-size: 12px;
  }


  .global-Filter-tab {
    display: block;
    position: relative;
  }

  .global-Filter-tab  h4 {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .global-Filter-tab .select-flex-wrapper {
    display: block;
    padding: 0 30px;
    margin-top: 15px;
  }

  .global-Filter-tab  .select-flex-wrapper select {
    width: 100%;
    text-align: center;
    border: none;
    border-bottom: solid #e30613 1px;
    margin-bottom: 15px;
    padding-bottom: 5px;
  }
  .global-Filter-tab  .select-flex-wrapper button {
    position: absolute;
    top: 0;
    right: 45px;
  }
}
