.global-Filter-tab {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.global-Filter-tab h2 {
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}

.global-Filter-tab a p {
  margin-right: 10px;
  padding-right: 10px;
  border-right: solid #e30613 1px;
}
