.global-programme-page {
  display: flex;
  flex-direction: column;
}

.global-programme-page .slider img {
  width: 100%;
  /* max-height: 500px; */
  object-fit: cover;
}

.global-programme-page .content-programme-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 0 auto;
  max-width: 1080px;
}

.display-mini-tab {
  display: flex;
  flex-wrap: wrap;
  width: 1080px;
  margin: auto;
}
