/* CSS composant TabSystem : actualité NewsPage */

.tab-news-module {
    grid-area: tab-module;
    display: flex;
    flex-direction: row;
    background: #fff;
    display: flex;
    padding: 20px;
  }
  
  #tab-news-content {
    padding-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
    text-align: justify;
  }
  
  /* signe + et title*/
  .tab-news-title {
    display: flex;
    flex-direction: row;
    min-width: 200px;
    border-bottom: 1px solid black;
  }
  
  .tab-news-title:hover {
    cursor: pointer;
  }
  
  .tab-news-title img {
    margin-top: 5px;
  }
  .tab-news-title h3 {
    margin-left: 20px;
    margin-top: 10px;
  }
  
  /* tab active*/
  .active-news {
    color: #E30613;
  }
  
  div.active-tab-news {
    display: block;
    margin-left: 10px;
  }
  
  div.disabled-tab-news {
    display: none;
  }
  