/* CSS composant TabSystem :horizontal */

.tab-module {
  grid-area: tab-module;
  flex-direction: row;
  background: #fff;
  display: flex;
  padding: 10px;
}

.tab-content {
  padding-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
  text-align: justify;
}

.article-resume {
  margin-bottom: 20px;
}

/* signe + et title*/
.tab-title {
  display: flex;
  flex-direction: row;
  min-width: 200px;
  max-width: 200px;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.tab-title:hover h3 {
  color: #E30613;
}



.tab-title img {
  align-self: center;
}
.tab-title h3 {
  margin-left: 20px;
  align-self: center;
}

/* tab active*/
.active {
  color: #E30613;
}

div.active-tab {
  display: block;
  margin-left: 10px;
}

div.disabled-tab {
  display: none;
}
