/* GENERAL - GRID LAYOUT GLOBAL */
@font-face {
  font-family: "gothamBold";
  src: url(fonts/gothamBold/gothamBold.eot) format("oet"),
    url(fonts/gothamBold/gothamBold.ttf) format("tff"),
    url(fonts/gothamBold/gothamBold.woff) format("woff"),
    url(fonts/gothamBold/gothamBold.woff2) format("woff2");
  font-family: "gothamLight";
  src: url(fonts/gothamLight/Metropolis-Medium.otf) format("otf"),
    url(fonts/gothamLight/Metropolis-MediumItalic.otf) format("otf");
}

.global-margin {
  margin-left: 15%;
  margin-right: 15%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gothamLight", arial, sans-serif;
  font-size: 14px;
}

.body {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: minmax(200px, auto) 1fr minmax(300px, auto);
  gap: 0px 0px;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

header {
  grid-area: header;
  color: white;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
}
.wrapper-header {
  width: 1080px;
  margin: 0 auto;
}
main {
  grid-area: main;
  height: 100%;
  min-height: 100vh;
}
footer {
  grid-area: footer;
  color: white;
  background-color: black;
  display: flex;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
