/* FOOTER CSS */
footer {
  grid-area: footer;
  background-color: black;
  display: flex;
  color: rgb(190, 190, 190);
  padding: 10px;
}

.wrapper-footer {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
}
/* FOOTER COLUMN1 */
.footer-column1 {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.footer-column1 .main-logo a img {
  width: 330px;
  height: auto;
}

.footer-column1-socialnetwork {
  margin-top: 20px;
}
.footer-column1-socialnetwork p {
  font-size: 20px;
}

.footer-list-link {
  display: flex;
  margin-top: 20px;
  font-size: 16px;
}

.footer-list-link ul {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  list-style: none;
  padding-left: 7px;
}
.footer-list-link.footer-one ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.footer-list-link ul a {
  color: rgb(190, 190, 190);
}

.footer-list-link ul li.arrow:before {
  content: "";
  border-color: transparent #e30613;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

/* FOOTER COLUMN2 */

.footer-column2 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.newsletter-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #1b1b1b;
  padding: 10px;
  margin: 20px 0;
  width: 650px;
}

.newsletter-title :nth-child(1n) {
  margin: 0 5px 0 0;
}
.newsletter-container form {
  width: 75%;
  align-self: center;
}

.newsletter-container .input-newsletter {

  background: #3b3b3b;
  height: 37px;
  width: 75%;
  color: white;
  outline: none;
  padding-left: 10px;
  border: none;
}

.newsletter-container .submit-newsletter {
  align-self: center;
  background: #3b3b3b;
  border: none;
  height: 37px;
  width: 15%;
  color: white;
}

/* message newsletter subscribe */
.pop {
  width : auto;
  height : 40px;
  padding: 5px;
  background-color: rgb(22, 22, 22);
  border-radius: 5px;
  border-top: solid 8px #E30613;
  text-align: center;
  position : absolute;
  top : -50px;
  right : 0;
  z-index:3;

}

footer .footer-one li {
  margin-bottom: 5px;
}
footer a.underlined:before {
  height: 1px;
  margin: 0;
}
footer a.underlined:hover:before {
  width: 100%;
}

@media screen and (max-width: 960px) {
  /* FOOTER */
  footer {
    height: auto;
    padding-bottom: 10px;
  }
  .footer-column1 {
    margin: 0;
  }
  .footer-column2 {
    margin: 0;
  }
  .wrapper-footer {
    flex-direction: column;
  }
  .footer-column1 .main-logo a img {
    display: none;
  }
  .footer-column1-socialnetwork {
    text-align: center;
    align-items: center;
  }
  .footer-column1-socialnetwork .social-network {
    justify-content: center;
  }
  .newsletter-container {
    width: calc(100% - 20px);
    margin: 10px;
    font-size: 12px;
  }
  Footer .footer-one {
    display: none;
  }
  .footer-one {
    margin-top: auto;
    margin-bottom: 15px;
  }
  .footer-list-link ul {
    margin: 0 30px;
  }
}
