
#article-page {
  margin-top : 50px;
}

/*_______________article______________*/


  .article-text{
    text-justify: auto;
  }

  .article-date{
    margin-top : 30px;
    margin-bottom: 20px;
    color: #E30613;
  }

  .article-wrapper {
    margin-bottom: 15px;
  }

  .article-img {
    justify-self: center;
    max-width: 80%;
    max-height: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }



  /* __________articles resume___________*/
  .article-img-bottom-overflow {
    max-width: 20%;
  }
  .article-img-top-overflow {
    display: none;
  }
  .article-text-overflow {
    display:flow-root;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .article-resume {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .article-resume h4 {
    margin-top: 3px;
    margin-bottom: 10px;
  } 
