.image-webradio {
    object-fit: scale-down;
    height: 400px;
    width: 1080px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
.webRadioLink {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.youtube {
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    margin-bottom: 50px;
}