.global-spectacle-page {
  display: flex;
  flex-direction: column;
}

.content-spectacle-page {
  width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100px repeat(2, minmax(100px, auto));
  gap: 10px;
  grid-template-areas:
    "country-label calendar spectacle-info"
    "tab-module tab-module spectacle-info"
    "content content content";
}

.country-label {
  grid-area: country-label;
  background: #fff;
  display: flex;
  justify-content: center;
}

.country-label p {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  background-color: #e30613;
  align-self: start;
  padding: 14px 5px 7px 5px;
}

.content {
  grid-area: content;
  margin-bottom: 42px;
}

.content p.content-title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  align-items: center;
  margin-bottom: 32px;
}

.display-mini-tab {
  display: flex;
  flex-wrap: wrap;
  width: 1080px;
  margin: auto;
}
