.archive-global-styling p.archive-description {
  letter-spacing: 1px;
  text-align: justify;
  margin: 4vh 0 4vh 0;
}

.archive-global-styling h1 {
  font-weight: 1000;
  font-size: 1.8em;
}

.archive-global-styling h1 span {
  color: #e30613;
}

.archive-festivals-grid-wrapper {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 6%;
}

.archive-transmission-grid-wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 1%;
}

.archive-transmission-grid-wrapper .mini-tab {
  width: auto;
}

img.festival-poster {
  margin-top: 2vh;
  width: 75%;
  height: auto;
}

.festival-title-flex {
  display: flex;
  justify-content: baseline;
}

.festival-title-flex p {
  font-weight: 1000;
  /* font-family: inherit; */
  font-size: 1.2em;
}

img.picto-plus {
  width: 38px;
  height: 38px;
}

#archives-production {
  width: 100%;
  position: relative;
  display: block;

}

.global-Filter-tab {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.global-Filter-tab h4 {
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}

.global-Filter-tab select {
  margin-right: 10px;
  border: 0;
  border-right: solid #e30613 1px;
  cursor: pointer;

  -webkit-appearance: none;
  appearance: none;
}

.global-Filter-tab button:focus,
.global-Filter-tab select:focus {
  outline: none;
}

.global-Filter-tab select::-ms-expand {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  outline: none;
}

.global-Filter-tab select:nth-last-child(2) {
  border:0;
}

@media screen and (max-width: 960px) {
  /* ARCHIVES */
  .archive-transmission-grid-wrapper {
    display: flex;
    flex-direction: column;
  }
  .festival-poster-wrapper {
    font-size: 12px;
  }
  .festival-poster-wrapper .festival-title-flex img {
    width: 15px;
  }

  /* FILTERTAB */
  .global-Filter-tab h3{
    font-size: 14px;
  }
  .global-Filter-tab select {
    font-size: 12px;
  }
}
