.my-filters {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-bottom: 50px;
}

.my-filters label {
  width: 25%;
  margin-right: 15px;
  font-size: 1.4em;
  font-weight: bolder;
}

.select-flex-wrapper {
  display: flex;
  flex-direction: row;
}

.select-flex-wrapper select {
  width: 22%;
  height: 25px;
  cursor: pointer;
  padding: 0;
  font-size: 1.1em;
  border: none;
  border-right: 2px solid #e30613;
  appearance: none;
}

.select-flex-wrapper select option {
  overflow-wrap: break-word;
}
