/* GENERAL - GRID LAYOUT GLOBAL */
body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-family: arial, sans-serif;
}

header {
  grid-area: 1 / 1 / 2 / 6;
  color: white;
  background-color: Black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}
main {
  grid-area: 2 / 1 / 5 / 6;
  height: 100vh;
}
footer {
  grid-area: 5 / 1 / 6 / 6;
  color: white;
  background-color: black;
  display: flex;
}
.highlight {
  color: black;
  background: white;
}

a {
  text-decoration: none;
}

/* HEADER CSS */
/* HEADER ROW 1 */
.header-row1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 5px 30px 0;
  padding: 0;
}
.fr-en {
  display: flex;
}
.fr-en span {
  margin-left: 10px;
  margin-right: 10px;
  color: red;
}
/* HEADER ROW 2 */
.header-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.header-row2 h1 {
  font-size: 2.5em;
}

.main-logo {
  display: flex;
  flex-direction: column;
  margin: 30px;
  margin-right: 0;
  width: 500px;
  border-right: solid white 3px;
}
.main-logo h1,
h3 {
  margin: 0;
}
.main-logo h1 {
  font-size: 3.5em;
}
.main-logo h1 span {
  color: red;
}
.main-logo :nth-child(3) {
  color: red;
  margin-left: 250px;
}

.next-festival-date {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 0;
}
.next-festival-date,
p {
  margin: 0;
}
.next-festival-date p span {
  font-size: 2em;
  color: red;
}

/* FOOTER CSS */
/* FOOTER COLUMN1 */
.footer-column1 {
  display: flex;
  flex-direction: column;
}
.footer-column1-title {
}
.footer-column1-partners {
}
/* FOOTER COLUMN2 */
.footer-column2 {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.footer-column2-listlink {
  display: flex;
}
