/* GENERAL - GRID LAYOUT GLOBAL */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-family: arial, sans-serif;
}

header {
  grid-area: 1 / 1 / 2 / 6;
  color: white;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 100%;
}
main {
  grid-area: 2 / 1 / 5 / 6;
  height: 100vh;
}
footer {
  grid-area: 5 / 1 / 6 / 6;
  color: white;
  background-color: black;
  display: flex;
}
.highlight {
  color: black;
  background: white;
}

a {
  text-decoration: none;
}

/* HEADER CSS */
/* HEADER ROW 1 */
.header-row1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin: 5px 10px 0 30px;
  padding: 0;
}
.fr-en {
  display: flex;
  flex-wrap: nowrap;
}
.fr-en span {
  margin-left: 10px;
  margin-right: 10px;
  color: red;
}
.nav-bar {
  font-size: 0.8em;
  margin-right: -160px;
}
/* HEADER ROW 2 */
.header-row2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header-row2 h1 {
  font-size: 2.5em;
}

.main-logo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 20px;
  min-width: 500px;
  border-right: solid white 3px;
}

.main-logo h1,
h3 {
  margin: 0;
}
.main-logo h1 {
  font-size: 3.5em;
}
.main-logo h1 span {
  color: red;
}
.main-logo :nth-child(3) {
  color: red;
  margin-left: 230px;
}

.next-festival-date {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  padding-bottom: 30px;
}
.next-festival-date,
p {
  margin: 0;
}
.next-festival-date .edition {
  display: flex;
}
.next-festival-date .edition-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.next-festival-date .edition :nth-child(1) {
  font-size: 1.5em;
}
.next-festival-date .edition :nth-child(2) {
  font-size: 0.9em;
}
/* edition number */
.next-festival-date .edition .edition-number {
  font-size: 2.2em;
}
.next-festival-date p span {
  font-size: 1.2em;
  color: red;
}
.next-festival-date :nth-child(4) {
  font-size: 0.6em;
}

.billetterie-programme {
  display: flex;
  flex-grow: 1;
  padding-bottom: 30px;
  align-items: flex-end;
}
.billetterie-programme a {
  margin-right: 40px;
}

.social-network {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 30px;
  margin-right: 40px;
}
.social-network a {
  margin-right: 5px;
}

/* FOOTER CSS */
/* FOOTER COLUMN1 */
.footer-column1 {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.footer-column1-title {
}
.footer-column1-partners ul li {
  list-style-type: none;
}
.footer-column1-partners p {
  text-transform: uppercase;
}
/* FOOTER COLUMN2 */

footer {
  min-height: 550px;
}
.footer-column2 {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 80px;
}
.footer-column2-listlink {
  display: flex;
}

.newsletter-container {
  display: flex;
  justify-content: space-between;
  background: #121111;
  padding: 10px;
  margin: 20px 0;
}
.newsletter-container input {
  align-self: center;
  background: #2e2e2e;
  border: none;
  height: 35px;
  width: 60%;
}
.footer-column2-socialnetwork p {
  text-transform: uppercase;
}
.footer-column2-socialnetwork {
  margin-bottom: 20px;
}

.footer-column2-listlink {
  margin-top: 20px;
}
.footer-column2-listlink div {
  margin: 0 10px;
  border-left: dotted white;
  padding-left: 10px;
}

.footer-column2-listlink div p {
  margin: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.footer-column2-listlink div ul {
  margin: 0;
}

.footer-column2-listlink div ul {
  margin-left: 10px;
  padding: 0 1em;
  list-style: none;
}

.footer-column2-listlink div ul li:before {
  content: "";
  border-color: transparent rgb(126, 6, 6);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

/* Media Queries **************************/
@media (max-width: 1024px) {
  .highlight {
    display: none;
  }
  .fr-en {
    display: none;
  }
  .search-loup {
    display: none;
  }
}
