#news-page {
    margin-right: 50px;
    margin-left: 50px;
}
.red-arrow {
    position: relative;
    top: 0;
    left: 100px;
    width: 40px;
    height: 45px;
    background-color: #e30613;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
/*_______________article______________*/

  #article-page{
    margin: 50px;

  }
  .article-text{
    text-justify: auto;
  }
  .article-text-overflow {
    display:flow-root;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .article-date{
    color: #E30613;
  }
  .article-resume {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .article-resume h4 {
    margin-top: 3px;
    margin-bottom: 10px;
  }
  .article-wrapper {
    margin-bottom: 15px;
  }