.sharingbox {
  z-index: 2;
  position: fixed;
  top: 50%;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  border: solid 1px black;
  border-radius: 7px 0 0 7px;
  padding: 5px;
  width: 22px;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
}

.sharingbox img {
  width: 22px;
  height: 22px;
  padding: 5px;
}
