.spectacle-info {
  grid-area: spectacle-info;
  background: #fff;
  position: relative;
}

.spectacle-info-container {
  margin: 20px 10px;
  padding: 0 10px;
  border-left: 1px solid black;
}
.info-container p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  padding-top: 30px;
}

.info-container ul li:before {
  content: "";
  border-color: transparent #e30613;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.partners-logo img {
  display: flex;
  flex-direction: column;
}
.partners-logo {
  padding-left: 20px;
}

div.red-arrow {
  position: absolute;
  top: 0;
  left: 100px;
  width: 40px;
  height: 45px;
  background-color: #e30613;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}
