.spectacle-info {
  grid-area: spectacle-info;
  position: relative;
  margin-left : 20px;
}

.spectacle-info-container {
  margin: 20px 10px;
  padding: 0 10px;
  border-left: 1px solid black;
}
.info-container p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  padding-top: 30px;
}

.info-container ul li:before {
  content: "";
  border-color: transparent #e30613;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.partners-logo img {
  display: flex;
  flex-direction: column;
}
.partners-logo {
  padding-left: 20px;
}

@media screen and (max-width: 960px) {
  .spectacle-info {
    margin-top: 20px;
  }
  .spectacle-info .red-arrow {
    display : none;
  }
  .spectacle-info-container {
    border : none;
  }
}
