.spectacle-info {
  grid-area: spectacle-info;
  background: #fff;
}

.spectacle-info-container {
  margin: 20px 10px;
  padding: 0 10px;
  border-left: 1px solid black;
}
.info-container p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}

.info-container ul li:before {
  content: "";
  border-color: transparent #E30613;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.partners-logo img {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.accessibility-logo img {
  margin-right: -55px;
}
