.result {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 30px;
    cursor: pointer;
}

.result-category {
    width: 100%;
    font-size: 14px;
}

.result-title {
    width: 100%;
    font-size: 20px;
    margin-bottom: 3px;
    font-weight: bold;
    color: #ed1c24;
}

.result-description {
    width: 100%;
    font-size: 16px;
    color: #1b1b1b;
}

.result-description span {
    color: #3b3b3b;
    font-size: 15px;
}
