div.size-adjustment {
  display: flex;
  width: 100%;
  margin : auto;
  max-height: calc(100vh - 280px); /*450px*/
}

div.size-adjustment img{
  object-fit: cover;  
}
div.placeholder-carousel img{
  width: 100%;
    vertical-align: top;
    border: 0;
}

div.carousel-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

}

div.image-text p {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 20px;
}

div.image-text button {
  color: white;
  font-size: 20px;
  background-color: transparent;
  padding: 5px;
  border: 1px dotted #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
