<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" media="screen" type="text/css" href="index.css" />
    <title>Template HTML v1</title>
  </head>
  <body>
    <header>
      <div class="wrapper-header">
        <div class="header-row1">
          <div class="fr-en fr-en-right">
            <p>F R</p>
            <span> | </span>
            <p>E N</p>
          </div>
          <div class="highlight newsletter-header">NEWSLETTER</div>
          <nav class="fr-en">
            <ul class="nav-bar">
              <li>Accueil</li>
              <li>Festival</li>
              <li>Avec les publics</li>
              <li>Associations</li>
              <li>Actualités</li>
              <li>Archives</li>
              <li>Espace pros</li>
              <li>Contacts</li>
            </ul>
          </nav>
          <div class="search-magnifier">
            <img
              src="images/loupe.png"
              alt="search-magnifier"
              style="filter: invert(100%)"
              width="40"
            />
          </div>
        </div>
        <div class="header-row2">
          <div class="main-logo">
            <img src="images/logosens.svg" alt="logo du festival" />
          </div>
          <div class="next-festival-date">
            <div class="edition">
              <div class="edition-number">7</div>
              <div class="edition-text">
                <p>ème</p>
                <p>édition</p>
              </div>
            </div>
            <div class="edition-date">
              <p>du <span>16</span> au <span>27</span></p>
              <p>Octobre 2021</p>
              <p>LYON METROPOLE</p>
            </div>
          </div>
          <div class="billetterie-programme">
            <a href="#" title="billetterie" class="highlight">BILLETTERIE </a>
            <a href="#" title="programme" class="highlight">PROGRAMME</a>
          </div>

          <div class="social-network">
            <a href="#" title="link to facebook" target="_blank"
              ><img
                src="images/facebook.svg"
                alt="facebook"
                width="80"
                style="filter: invert(100%)"
            /></a>
            <a href="#" title="link to instagram" target="_blank"
              ><img
                src="images/insta.svg"
                alt="instagram"
                style="filter: invert(100%)"
                width="80"
            /></a>
            <a href="#" title="link to twitter" target="_blank"
              ><img
                src="images/twitter.svg"
                alt="twitter"
                style="filter: invert(100%)"
                width="80"
            /></a>
            <a href="#" title="link to linkedin" target="_blank"
              ><img
                src="images/share.svg"
                alt="linkedin"
                width="80"
                style="filter: invert(100%)"
            /></a>
            <a href="#" title="link to share" target="_blank"
              ><img
                src="images/share.svg"
                alt="share"
                style="filter: invert(100%)"
                width="80"
            /></a>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="slider">
        <div class="red"></div>
        <div class="image-text">
          <p>PEER GYNT FROM KOSOVO</p>
          <button>Réserver</button>
        </div>
      </div>

      <div class="wrapper-main">
        <div class="left-side">
          <p>Kosovo</p>
        </div>
        <div class="calendar">
          <div class="calendar-container">
            <div class="calendar-day">
              <p>mer</p>
              <span>16</span>
              <p>Oct</p>
            </div>
            <div class="calendar-day active">
              <p>mer</p>
              <span>16</span>
              <p>Oct</p>
            </div>
            <div class="calendar-day">
              <p>mer</p>
              <span>16</span>
              <p>Oct</p>
            </div>
            <div class="calendar-day">
              <p>mer</p>
              <span>16</span>
              <p>Oct</p>
            </div>
            <div class="calendar-day">
              <p>mer</p>
              <span>16</span>
              <p>Oct</p>
            </div>
          </div>
        </div>
        <div class="spectacle-info">
          <div class="spectacle-info-container">
            <div class="info-container">
              <p>Infos Pratiques</p>
              <ul>
                <li>Pays : KOSOVO</li>
                <li>Durée : 1h30</li>
                <li>Spectacle en russe surtitré et doublé en français</li>
                <li>A partir de 10 ans</li>
              </ul>
            </div>
            <div class="accessibility-logo">
              <img
                src="images/handivisuel.svg"
                alt="logo handicap visuel"
                width="70"
                height="70"
              />
              <img
                src="images/handivisuel.svg"
                alt="logo handicap visuel"
                width="70"
                height="70"
              />
              <img
                src="images/handiauditiflsf.svg"
                alt="logo handicap visuel"
                width="70"
                height="70"
              />
            </div>

            <div class="partners-logo">
              <img
                src="images/logo_lpa.png"
                alt="logo du festival"
                width="70"
                height="70"
              />
              <img
                src="images/logo_lpa.png"
                alt="logo du festival"
                width="70"
                height="70"
              />
              <img
                src="images/logo_lpa.png"
                alt="logo du festival"
                width="70"
                height="70"
              />
            </div>
          </div>
        </div>
        <div class="tab-module">
          <ul>
            <li>
              <a href="#" title="" class="tab-link active" id="sign-in"
                ><img
                  src="images/picto+.svg"
                  alt="pictogramme cliquable"
                  weight="30"
                  height="30"
                />À propos</a
              >
            </li>
            <li>
              <a href="#" title="" class="tab-link" id="sign-up"
                ><img
                  src="images/picto+.svg"
                  alt="pictogramme cliquable"
                  weight="30"
                  height="30"
                />Biographie</a
              >
            </li>
            <li>
              <a href="#" title="" class="tab-link" id="sign-up"
                ><img
                  src="images/picto+.svg"
                  alt="pictogramme cliquable"
                  weight="30"
                  height="30"
                />Biographie</a
              >
            </li>
            <li>
              <a href="#" title="" class="tab-link" id="sign-up"
                ><img
                  src="images/picto+.svg"
                  alt="pictogramme cliquable"
                  weight="30"
                  height="30"
                />Biographie</a
              >
            </li>
          </ul>
          <div class="tab active" id="tab-sign-in">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in
              ante ante. Nunc pellentesque nisl id pretium pharetra. Quisque
              vitae ullamcorper risus, ac feugiat magna. Suspendisse eros
              tortor, tempus ac fringilla id, condimentum a sapien. Vivamus
              tempus, enim ac dictum varius, magna ante sagittis sapien, id
              tincidunt dolor sapien pulvinar nunc. Sed ultricies, nibh a
              ullamcorper iaculis, nulla odio semper urna, ut tempus erat dui a
              erat. Fusce placerat pellentesque semper. Nulla sed bibendum
              risus. Donec semper bibendum ante, eu auctor velit porttitor non.
              Nulla facilisi. Aenean malesuada libero in porta gravida.
              Suspendisse molestie laoreet leo id sagittis.
            </p>
          </div>
          <div class="tab hide" id="tab-sign-up">
            Nulla facilisi. Aenean malesuada libero in porta gravida.
            Suspendisse molestie laoreet leo id sagittis. Integer euismod luctus
            nisl maximus porttitor. Nunc eget arcu auctor, malesuada odio in,
            facilisis justo. Morbi turpis sapien, lobortis non commodo
            pellentesque, vulputate mollis mauris. In semper in dui eget
            venenatis.
          </div>
        </div>
        <div class="content">
          <p>Autour du spectacle</p>

          <div class="wrapper-content">
            <div class="spectacle-container">
              <div class="spectacle-image">
                <span class="spectacle-date">mer 16 Oct </span>
                <span class="spectacle-country">Russie</span>

                <img
                  src="images/picto+.svg"
                  alt="pictogramme cliquable"
                  weight="50"
                  height="50"
                />
              </div>
              <div class="spectacle-title">
                <h2>Ma petite Antarctique</h2>
                <h3>Tatiana Frovola</h3>
              </div>
            </div>

            <div class="spectacle-container">
              <div class="spectacle-image">
                <span class="spectacle-date">mer 16 Oct </span>
                <span class="spectacle-country">Russie</span>

                <img
                  src="images/picto+.svg"
                  alt="pictogramme cliquable"
                  weight="50"
                  height="50"
                />
              </div>
              <div class="spectacle-title">
                <h2>Ma petite Antarctique</h2>
                <h3>Tatiana Frovola</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="wrapper-footer">
        <div class="footer-column1">
          <div class="footer-column1-title">
            <img
              src="images/logo_festival.png"
              width="250"
              alt="logo partner2"
            />
          </div>
          <div class="footer-column1-partners">
            <p>Nos Partenaires</p>
            <ul>
              <li>
                <img
                  src="images/logo_celestins.png"
                  alt="logo partner theater les celestins"
                  width="80"
                />
              </li>
              <li>
                <img src="images/logo_lyon.png" alt="logo partner lyon city" />
              </li>
              <li>
                <img
                  src="images/logo_nova.jpeg"
                  alt="logo partner nova radio"
                  style="filter: invert(100%)"
                  width="130"
                />
              </li>
              <li>
                <img
                  src="images/logo_femmes.png"
                  alt="logo partner les femmes ici et ailleurs"
                  width="100"
                />
              </li>
              <li>
                <img
                  src="images/logo_ARA.png"
                  alt="logo partner ARA region"
                  style="filter: invert(100%)"
                  width="180"
                />
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-column2">
          <div class="footer-column2-newsletter">
            <p>
              Sens interdits est une association et un Festival de théâtre
              international
            </p>
            <div class="newsletter-container">
              <div>
                <h3 style="margin: 0">NEWSLETTER</h3>
                <p style="margin: 0">Recevez nos actualités</p>
              </div>
              <input type="text" />
            </div>
          </div>
          <div class="footer-column2-socialnetwork">
            <p>Suivez-nous !</p>
            <div class="social-network">
              <a href="#" title="link to facebook" target="_blank"
                ><img
                  src="images/facebook.svg"
                  alt="facebook"
                  style="filter: invert(100%)"
                  width="110"
              /></a>
              <a href="#" title="link to instagram" target="_blank"
                ><img
                  src="images/insta.svg"
                  alt="instagram"
                  style="filter: invert(100%)"
                  width="110"
              /></a>
              <a href="#" title="link to twitter" target="_blank"
                ><img
                  src="images/twitter.svg"
                  alt="twitter"
                  style="filter: invert(100%)"
                  width="110"
              /></a>
              <a href="#" title="link to linkedin" target="_blank"
                ><img
                  src="images/share.svg"
                  alt="linkedin"
                  style="filter: invert(100%)"
                  width="110"
              /></a>
              <a href="#" title="link to share" target="_blank"
                ><img
                  src="images/share.svg"
                  alt="share"
                  style="filter: invert(100%)"
                  width="110"
              /></a>
            </div>
          </div>
          <div class="footer-column2-listlink">
            <div>
              <p>Vous informer</p>
              <ul>
                <li><a>Programmation</a></li>
                <li><a>Billetterie</a></li>
                <li><a>Sens interdits</a></li>
                <li><a>Partenaires</a></li>
                <li><a>Archives</a></li>
              </ul>
            </div>
            <div>
              <p>Presse</p>
              <ul>
                <li><a>Dossier de presse</a></li>
                <li><a>Kit presse</a></li>
                <li><a>Revue de presse</a></li>
                <li><a>Contact</a></li>
              </ul>
            </div>
            <div>
              <p>Sens interdit</p>
              <ul>
                <li><a>Le festival</a></li>
                <li><a>L'association</a></li>
                <li><a>L'équipe</a></li>
                <li><a>Soutenez-nous</a></li>
                <li><a>Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
