.transmission-grid-layout {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0;
  grid-template-areas: "transmission-public transmission-pro";
}

.transmission-grid-layout span {
  color: #e30613;
}

div.red-arrow {
  position: relative;
  top: 0;
  left: 100px;
  width: 40px;
  height: 45px;
  background-color: #e30613;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.transmission-content h1 {
  font-weight: 1000;
  text-transform: uppercase;
}

.transmission-content p {
  letter-spacing: 1px;
  text-align: justify;
  margin-bottom: 4vh;
}

.transmission-public h1,
.transmission-pro h1 {
  font-size: 1.8em;
  font-weight: 1000;
  text-transform: uppercase;
}
