.one-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: auto;
  border-right: solid black 1px;
  border-left: solid black 1px;
  cursor: pointer;
  transition: 0.3s;
}
.active {
  background-color: red;
  color: white;
}

.one-day p {
  color: rgb(94, 94, 94);
  transition: 0.3s;
}

.one-day p strong {
  font-size: 20px;
  color: black;
  transition: 0.3s;
}
